.wrapper {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  background: #4f46e5;
  overflow: hidden;
  text-align: center;
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 760px) {
  .wrapper {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.homePageTools {
  font-size: 36px;
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.diveInText {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.featureIcon {
  font-size: 36px;
}
