.card {
	--title-color: cornflowerblue;
	--time-left-color: teal;
	--hanzi-grid: #fafafa;
	--stroke: #555;
	--outline: #DDD;
	--drawing: #333;
	--pinyin-color: #03a9f4;
	--simplified-color: #ea2322;
	--traditional-color: #607d8b;
	--meaning-color: #4caf50;
	--icon-button-background: #63759d;
	--icon-button-background-focus: #63759d;
	--sidebar-color: white;
	--sidebar-background-color: #343a40;


	font-family: arial;
	font-size: 20px;
	text-align: center;
	color: black;
	background-color: white;
}


.card.night_mode {
	--title-color: #00bcd4;
 --time-left-color: #fff;
	--hanzi-grid: #262626;
	--stroke: #ffffff;
	--outline: #5B5B5B;
	--drawing: #fff;
	--pinyin-color: #27b46e;
	--simplified-color: #ea2322;
	--traditional-color: #fba910;
	--meaning-color: #29b6f6;
	--icon-button-background: #63759d;
	--icon-button-background-focus: #63759d;
	--sidebar-color: white;
	--sidebar-background-color: #343a40;

	color: white;
	background-color: #1f1f1f;
}

/* Material Icon Font */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 300;
	src: url(MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(_MaterialIcons-Regular.woff2) format('woff2'), url(_MaterialIcons-Regular.woff) format('woff'), url(_MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* grid color for character */

.grid-color {
	background-color: var(--hanzi-grid);
}

.stroke-color {
	color: var(--stroke);
}

.outline-color {
	color: var(--outline);
}

.drawing-color {
	color: var(--drawing);
}

/* bottom button */
.modal-footer {
	text-align: center;
}

.modal-footer a {
	display: inline-block;
	margin: 0 8px;
	float: none;
}

.text-color1 {
	color: var(--pinyin-color);
}

.text-color2 {
	color: var(--traditional-color);
}

.text-color3 {
	color: var(--meaning-color);
}

.text-color4 {
	color: var(--simplified-color);
	font-size: 35px;
}

/*https://codepen.io/colewaldrip/pen/gpEaWb*/

/* Material Icon Button */

.icon {
	margin: 3px;
	position: relative;
	display: inline-block;
	color: white;
	background-color: var(--icon-button-background);
	width: 2.0rem;
	height: 2.0rem;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s ease;
}

.icon .material-icons {
	font-size: 1.0rem;
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	transition: all 0.3s ease;
}

.icon:hover, .icon:focus {
	background-color: var(--icon-button-background-focus);
}

/*https://www.w3schools.com/*/

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	color: var(--sidebar-color);
	background-color: var(--sidebar-background-color);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 35px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #4DD0E1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

/*rage slider*/

.range-slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	background: #ccc;
	outline: none;
	border-radius: 10px;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.range-slider:hover {
	opacity: 1;
}

.range-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background: #2196F3;
	cursor: pointer;
}

.range-slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: #4CAF50;
	cursor: pointer;
}

/*Switch*/

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*card counts, title, time*/

.card-count {
	top: 0;
	right: 4px;
	position: absolute;
	display: none;
}

.card-count-num {
	color: black;
	font-size: 18px;
}

.card-count-dot {
	font-weight: bold;
	font-size: 24px;
}

.card-count-text {
	font-weight: light;
	font-size: 14px;
}

.title {
	top: 14px;
	left: 14px;
	position: absolute;
	font-size: 20px;
	color: var(--title-color);
	font-weight: bold;
}

.time-left {
	top: 36px;
	left: 14px;
	position: absolute;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	color: var(--time-left-color);
}
