/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(_MaterialIcons-Regular.woff2) format('woff2'),
       url(_MaterialIcons-Regular.woff) format('woff'),
       url(_MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* END - Material Icons */

.card {
 font-family: arial;
 font-size: 30px;
 text-align: center;
 color: black;
 background-color: white;
}
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#343a40;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 0px 5px 5px 0px;
  
}

.sidenav a {
 font-size:30px;
  padding:3px;
  text-align:center;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  outline:none;
}

.sidenav a:hover {
   
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 25px;}
}

.icon {
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.okbtn {
  background: #212529;
  color: #7ed07e;;
  text-decoration: none;
  text-align: center;
}

.closebtn {
  background: #212529;
  font-size: 25px;
  color: #f9690e;
  text-decoration: none;
  text-align: center;
}

.title {
    text-align: left;
    font-size: 20px;
    color: gray;
    font-weight: bold;
}

.time-left {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    color: teal;
}

.card-count {
    position: absolute;
    top:0;
    right:0;
}

.card-count-num {
    font-weight: bold;
    color: black;
    font-size: 18px;
    opacity: 0.7;
}

.card-count-dot {
    font-weight: bold;
    font-size: 25px;
}

.card-count-text {
    font-weight: light;
    font-size: 14px;
}

.container {
    margin: 0 auto;
    position: relative;
    text-align:center;
}

.flags {
    margin: 1px;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.button-container {
    padding: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  color: white;
  text-align: center;
}

.all-button-right {
   position: absolute;
   top:30%;
    right:0;
}
.flag-right {
   position: absolute;
   top:40%;
    right:0;
}

.show-button {
    background-color: #2bbbad;
    border: none;
    color: white;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.26);
}

.show-button:active {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26);
    opacity: .8;
}


.info-button {
    background-color: #33b5e5;
    border: none;
    width:65px;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.26);
}

.info-button:active {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26);
    opacity: .8;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    margin: 4px 2px;
    outline: none;
    border-radius: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.26);
}

.button:active {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26);
    opacity: .8;
}

.small-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3px;
    margin: 5px 0px;
    outline: none;
    border-radius: 0%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.small-button:active {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26);
    opacity: .8;
}

.medium-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    outline: none;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.medium-button:active {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26);
    opacity: .8;
}

/*https://codepen.io/AmrSubZero/pen/Byybom*/
.progress {
    margin: 20px auto;
    padding: 0;
    width: 90%;
    height: 8px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    height: 100%;
    background: cornflowerblue;
}

/* START grid */
.grid-color {
    background-color: #FAFAFA;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}

/* END grid */

.text-color1 {
    color: #4CAF50;
    font-size: 16px;
}

.text-color2 {
    color: #1E88E5;
    font-size: 22px;
 
}

.text-color3 {
    color: #E65100;
    font-size: 20px;
}

.text-color4 {
    color: #D50000;
    font-size: 25px;
}
