/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-cta-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.features {
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

section {
  padding: 2rem 8rem 2rem 8rem;
}

/* media query */
@media screen and (max-width: 996px) {
  section {
    padding: 1rem;
  }
}

.mb {
  margin-bottom: 1.5rem;
}

.mt {
  margin-top: 1.5rem;
}

.tabs__item {
  padding: 4px 0px 4px 10px !important;
}

.tabs__item_add {
  padding: 4px 10px 4px 10px !important;
}

.tab_content {
  padding: 10px;
}

.select_type {
  margin: 18px 0px 18px 0px !important;
}

.button_bar {
  margin: 10px 0px 10px 0px !important;
}

h2 {
  margin: 18px 0px 18px 0px !important;
}

.mr_2 {
  margin-right: 8px;
}