.card {
    --title-color: cornflowerblue;
    --time-left-color: teal;
    --hanzi-grid: #fafafa;
    --stroke: #555;
    --outline: #DDD;
    --drawing: #333;
    --pinyin-color: #03a9f4;
    --simplified-color: #ea2322;
    --traditional-color: #607d8b;
    --meaning-color: #4caf50;
    --icon-button-background: #63759d;
    --icon-button-background-focus: #7d92c2;
    --sidebar-color: white;
    --sidebar-background-color: #343a40;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.card.night_mode {
    --title-color: #00bcd4;
    --time-left-color: #fff;
    --hanzi-grid: #262626;
    --stroke: #ffffff;
    --outline: #5B5B5B;
    --drawing: #fff;
    --pinyin-color: #27b46e;
    --simplified-color: #ea2322;
    --traditional-color: #fba910;
    --meaning-color: #29b6f6;
    --icon-button-background: #63759d;
    --icon-button-background-focus: #7d92c2;
    --sidebar-color: white;
    --sidebar-background-color: #343a40;
    color: white;
    background-color: #1f1f1f;
}

/* Material Icon Font */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: url(MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(_MaterialIcons-Regular.woff2) format('woff2'), url(_MaterialIcons-Regular.woff) format('woff'), url(_MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* grid color for character */

.grid-color {
    margin: 10px;
    background-color: var(--hanzi-grid);
    padding: 2px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}

.stroke-color {
    color: var(--stroke);
}

.outline-color {
    color: var(--outline);
}

.drawing-color {
    color: var(--drawing);
}

/* bottom button */

.modal-footer1 {
    margin-top: 5px;
    text-align: center;
}

.modal-footer1 a {
    display: inline-block;
    margin: 0 8px;
    float: none;
}

.text-color1 {
    font-size: 14px;
    color: var(--pinyin-color);
}

.text-color2 {
    color: var(--traditional-color);
}

.text-color3 {
    color: var(--meaning-color);
}

.text-color4 {
    font-size: 25px;
    font-weight: bold;
    color: var(--simplified-color);
}

/*https://codepen.io/colewaldrip/pen/gpEaWb*/

/* Material Icon Button */

.icon {
    margin: 3px;
    position: relative;
    display: inline-block;
    color: white;
    background-color: var(--icon-button-background);
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease;
}

.icon .material-icons {
    font-size: 1.0rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    transition: all 0.3s ease;
}

.icon:hover, .icon:focus {
    background-color: var(--icon-button-background-focus);
}

/*https://www.w3schools.com/*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: var(--sidebar-color);
    background-color: var(--sidebar-background-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    -webkit-tap-highlight-color: transparent;
}

.sidebar a {
    padding: 6px 6px 6px 28px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 2px;
    outline: none;
}

.more-info-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    color: var(--sidebar-color);
    background-color: var(--sidebar-background-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    -webkit-tap-highlight-color: transparent;
}

.more-info-sidebar a {
    padding: 2px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
    transition: 0.3s;
    outline: none;
}

.more-info-sidebar .closebtn {
    color: #ea2322;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 16px;
    }
}

/*rage slider*/

.range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #ccc;
    outline: none;
    border-radius: 10px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range-slider:hover {
    opacity: 1;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    width: 14px;
    height: 14px;
    background: #2196F3;
    cursor: pointer;
}

.range-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #2196F3;
    cursor: pointer;
}

/*Switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -4px;
    top: -2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #03a9f4;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*card counts, title, time*/

.card-count {
    top: 0;
    right: 4px;
    position: absolute;
    display: none;
}

.card-count-num {
    color: black;
    font-size: 18px;
}

.card-count-dot {
    font-weight: bold;
    font-size: 24px;
}

.card-count-text {
    font-weight: light;
    font-size: 14px;
}

.title {
    top: 14px;
    left: 14px;
    position: absolute;
    font-size: 20px;
    color: var(--title-color);
    font-weight: bold;
}

.time-left {
    top: 36px;
    left: 14px;
    position: absolute;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    color: var(--time-left-color);
}

.more-info-btn {
    text-align: center;
}

img {
    border-radius: 10%;
}

h4 {
    padding: 4px;
    display: inline;
    background-color: white;
    border-radius: 100px;
}

.practice-ch {
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease;
    padding: 3px;
}